<div class="container bg-light">
    <h2>DONE</h2>
<h3>chart type</h3>
<ul>
    <li>Bar</li>
    <li>Line&Lines</li>
    <li>Pie</li>
    <li>Map</li>
    <li>Stack</li>
</ul>
<h3>chart function</h3>
<ul>
    <li>dynamic update</li>
</ul>

<h3>TODO</h3>
<ul>
    <li>Tips</li>
    <li></li>
    <li></li>
</ul>
</div>