<h2 class="p-1">d3-1 helloworld</h2>
<D3::HelloWorld class="m-2"/>
<div class="dropdown-divider"></div>
<h2>d3-2 bind-data</h2>
<D3::BindData />
<h2>d3-3 basic-Histogram</h2>
<D3::BasicHistogram />
<h2>d3-4 bar</h2>
<D3::BpBar />
<h2>d3-6 layout</h2>
<h3>d3-6.1 what's layout in d3</h3>
<p>some explain</p>
<h3>d3-6.2 example pie</h3>
<D3::BpPie @data={{this.pieResult}}/>
<h3>d3-6.3 example line</h3>
<D3::BpLine @data={{@model.barData}} />
<h2>A placeholder</h2>
<h2>A placeholder</h2>
<h2>A placeholder</h2>
<button type="button" {{on 'click' this.changePie}}>changePieData</button>