<div class="article" ...attributes>
    <h2>d3-6 Layout</h2>
			<h3>d3-6.1 what's layout in d3</h3>
			<p>some explain</p>
			<h3>d3-6.2 Pie Demo</h3>
            <div class="bp-pie" 
    {{did-insert this.initPie}}
    {{did-update this.updatePie @data}}></div>
    <div class="dropdown-divider"></div>

</div>

