<div class="article" ...attributes>
    <h2>d3-3 basic-Histogram</h2>

    <h3>3.1 append svg to element</h3>
    <div class="basic-svg-container" {{did-insert this.appendSvg}}></div>
    <h3>3.2 basic-histogram</h3>
    <svg class="bar-container" {{did-insert this.initHistogram}}>

    </svg>
    <h3>3.3 scale</h3>
    <svg class="scale" {{did-insert this.initScale}}>
        <rect></rect>
    </svg>
    <h3>3.4 coordinate</h3>
    <svg class="coordinate" {{did-insert this.initAxes}}></svg>
    <div class="dropdown-divider"></div>
</div>