<h2 class="p-1">d3-1 helloworld</h2>
<D3::HelloWorld class="m-2"/>
<div class="dropdown-divider"></div>
<h2>d3-2 bind-data</h2>
<D3::BindData />
<h2>d3-3 basic-Histogram</h2>
<D3::BasicHistogram />
{{outlet}}