<div class="article" ...attributes>
    <h2>d3-x Scale</h2>
    <h3>d3-x D3.js 中比例尺以及坐标轴大全</h3>
    <p>some word</p>
    <div class="bp-scale x-linear" {{did-insert this.initScale}}></div>
    <div class="dropdown-divider"></div>
    <div class="bp-scale band" {{did-insert this.initBand}}></div>
    <div class="dropdown-divider"></div>
    <div class="bp-scale time" {{did-insert this.initTime}}></div>
    <div class="dropdown-divider"></div>
</div>